body {
    height: 1000px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.infobar {
    background-color: grey;
    align-items: center;
}

.material-symbols-outlined {
    color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  t
}


/* header {
    height: 100px;
    width: 100%;
    background-color: aqua;
} */